name: Flutter

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 设置 Flutter 环境
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'  # 版本
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        run: flutter test

      # 可选：构建 web 版本
      - name: Build web
        run: flutter build web

      # 可选：构建 apk
      - name: Build APK
        run: flutter build apk --release
